$light-grey-background: #f5f5f5;

.child-container-dashboard{
  @extend .child-container;
  background: $light-grey-background;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.dashboard-header {

  width: 100%;

  & img {
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.inner-container {
  //background: $white;
  //margin: 20px;
  //height: 200px;
  //box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
