.sidebar {
  margin-left: 10px;
  position: relative;
  width: 300px;
  margin-top: 38px;
  float: right;
  overflow: hidden;
}

.sidebar-header {
  display: inline-flex;
  height: 150px;
}

.sidebar-header-text {
  margin-top: 20px;
  position: absolute;
  margin-left: 145px;
}

.avatar {
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  object-fit: cover;
}

